* {
  font-family: 'Helvetica';
}

a {
  text-decoration: none;
  color: #0071E3;
}

body {
  margin: 0;
  overflow: auto;
  font-size: 16px;
}

button {
  outline: none;
}

.search {
  width: 55%;
  margin: 0 2% 2em 8%;
  float: left;
}

h1 {
  font-size: 2.5em;
}

/* FEED CONTENT */
.content {
  width: 55%;
  margin: 0 2% 0 8%;
  float: left;
}

.feed-info {
  text-align: center;
}

.feed-info a {
  font-weight: bold;
  font-size: 1.3em;
}

.feed-info button {
  padding: 7px 8px;
  border: 0;
  border-radius: 2px;
  background-color: #4BA7B8;
  color: #fff;
  margin: 0 2em;
}
.feed-info button:hover {
  background-color: #0096A3;
  cursor: pointer;
}

article img {
 max-width: 100%;
}

/* ASIDE */
aside {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  margin-right: 5%;
  height: 700px;

}

aside h3 {
  font-size: 1.2em;
  margin: 2em 0 1em 0;
  color:
}

aside h3:hover {
  cursor: pointer;
}

aside a {
  font-weight: bold;
  display: block;
  line-height: 2em;
}

aside .tooltip {
  position: absolute;
  z-index: 1;
  top: 2.6em;
  right: 0;
  background-color: rgba(0,0,0, 0.4);
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding: 7px 9px;
  border-radius: 2px;
}
