* {
  font-family: 'Helvetica';
}

a {
  text-decoration: none;
  color: #23A897;
}

body {
  margin: 0;
  overflow: auto;
  font-size: 16px;

}

button {
  outline: none;
}

.search {
  width: 55%;
  margin: 0 2% .3em 8%;
  float: left;
}

h1 {
  font-size: 2.5em;
}
 /* FEED INFO */
.feed-info {
  margin: 2em 0 0 0;
}

.feed-info h2 {
  margin: 0;
  color: #555;
}

/* FEED CONTENT */
.content {
  width: 55%;
  margin: 0 2% 0 8%;
  float: left;
}

.feed-info a {
  color: #555;
  font-weight: bold;
  font-size: 1.3em;
}
.feed-info a:hover {
  text-decoration: underline;
}

.save-feed {
  border: 0;
  padding: 0;
  margin: 0 0.7em;
  color: #D6521E;
  font-weight: bold;
  font-size: 1.2em;
  background-color: transparent;
}
.save-feed:hover {
  font-style: italic;
  cursor: pointer;
}

article img {
 max-width: 100%;
}

/* ASIDE */
aside {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  margin-right: 3%;
  padding: 0 1% 15px 1%;
  background-color: rgba(255,188,125, 0.4);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

aside h3 {
  font-size: 1.2em;
  margin: 2em 0 1em 0;
  color:
}

aside h3:hover {
  cursor: pointer;
}

aside a {
  font-weight: bold;
  display: block;
  line-height: 2em;
}

aside .tooltip {
  position: absolute;
  z-index: 1;
  top: 2.6em;
  right: 0;
  background-color: rgba(0,0,0, 0.4);
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding: 7px 9px;
  border-radius: 2px;
}
